flask==2.0.1
graphene==2.1.9
flask-graphql==2.0.1
gensim==4.3.1
pandas==2.0.2
pandas-gbq==0.19.2
nltk==3.8.1
graphene-federation==0.2.0
pandarallel==1.6.5
werkzeug==2.0.3
scipy==1.10.1
ddtrace==2.21.1